<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlertaAutomatica.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>57F2318B1E357B15002E603A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57F231A41E357B18002E603A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57F231AF1E357B18002E603A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
